@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.invalid-input {
  @apply border-red-300 focus:border-red-400 placeholder-red-500 focus:ring-red-200
}

.valid-input {
  @apply border-gray-300 focus:border-indigo-300 focus:ring-indigo-200
}

.input {
  @apply rounded-md shadow-sm  focus:ring focus:ring-opacity-50
}

.section-title {
  @apply mb-8 text-xl font-bold text-rose-600
}